html, body {
    height: 100%;
    font-size: 100%;
}

body {
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,Arial;
    color: #000000;
    background-color: #378DEC;

}

a, a:hover, a:visited, a:link, a:active
{
    text-decoration: inherit;
}


#PageLogo {
    font-family: "Georgia";
    background-color: white;
    margin-bottom: 0.5rem;
}


#PageLogo h1{
    color: red;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}

#wrapper { 
    min-height: 100%;
    position: relative;
}

/* only a pixel value can apply to push the footer down */
#main{
    padding-bottom: 50px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    font: inherit;
    color: #ffffff;
    padding-top: 1rem;
}


.main-content {
    background-color: #DDDDDD;
    
}


.page-headline {
    font-family: Inherit;
    font-size: 1.5rem;
    font-weight: bold;
    color: #378DEC;
    text-align: center;
    padding-bottom: 0.5rem;
}


.page-subheader3 {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    text-align: center;
    
}

.page-bodytext {
    font-family: inherit;
    color: black;
    font-size: 1rem;
    margin-top: 0.25rem;
}



.jumbotron {
    margin-top: 1rem;
}

blockquote {
    color: black;
}


.card {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.thumbnail-row {
    margin-bottom: 2rem;
}